<div class="good">
    <img [src]="imagUrl" alt="">
    <div class="fond1_ecran">
        <P class="paragraphe">
            <strong> CINQ (05) ERREURS A EVITER POUR</strong>
            <br class="police">
            REUSSIR SES PREMIER PAR
            <br>
            <strong> dans le code</strong>
        </P>
    </div>
    <div class="fond2_ecran">
        <div class="fond2_number">
            <span class="numero1">01</span>

        </div>
        <p class="object0">
            <strong>Ne pas etre regulier</strong>
        </p>
    </div>
    <div class="fond3_ecran">
        <div class="fond2_number">
            <span class="numero1"> 02.</span>
        </div>
        <p class="object">
            <strong> Copier-coller sans comprendre</strong>
        </p>
    </div>
    <div class="fond4_ecran">
        <div class="fond2_number">
            <span class="numero1"> 03.</span>
        </div>
        <p class="object">
            <strong> Ne pas planifier avant de coder</strong>
        </p>
    </div>
    <div class="fond5_ecran">
        <div class="fond2_number">
            <span class="numero1"> 04.</span>
        </div>
        <p class="object">
            <strong> Ne pas ce documenter</strong>
        </p>
    </div>
    <div class="fond6_ecran">
      <div class="fond2_number">
          <span class="numero1"> 05.</span>
      </div>
      <p class="object">
          <strong> Ne pas  S'incrire </strong>
      </p>
  </div>

</div>
<div class="carre_1">

</div>
<div class="carre_2">

</div>
